<h1 class="text-center my-5">Welcome To Workout Details Page ...</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form [formGroup]="workoutForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="date" class="fw-semibold mb-2"
            >Select The Date 
          </label>
          <input type="date" class="form-control" formControlName="calender" />

          <!-- For Error message -->
          <div
            *ngIf="
              !workoutForm.controls['calender']?.valid &&
              workoutForm.controls['calender']?.touched
            "
          >
            <p class="text-danger">This is required</p>
          </div>
        </div>

        <label for="workout-type" class="fw-semibold mb-2"
          >Workout Type 
        </label>
        <div class="mb-2">
          <select formControlName="workoutList" class="form-select">
            <option value="swimming">Swimming</option>
            <option value="bicycle">Bicycle</option>
            <option value="walking">Walking</option>
          </select>
        </div>
        <!-- For Error message -->
        <div
          *ngIf="
            !workoutForm.controls['workoutList']?.valid &&
            workoutForm.controls['workoutList']?.touched
          "
        >
          <p class="text-danger">This is required</p>
        </div>

        <label for="date" class="fw-semibold mb-2"
          >Distance<span
            class="text-bg-primary fw-semibold badge rounded-pill ms-2"
            >Meter</span
          ></label
        >
        <input
          type="number"
          class="form-control"
          placeholder="Distance"
          formControlName="distance"
        />

        <!-- For Error message -->
        <div
          *ngIf="
            !workoutForm.controls['distance']?.valid &&
            workoutForm.controls['distance']?.touched
          "
        >
          <p class="text-danger">This is required fields</p>
        </div>

        <label for="date" class="fw-semibold mb-2"
          >Calory<span
            class="text-bg-primary fw-semibold badge rounded-pill ms-2"
            >Kcl</span
          ></label
        >
        <input
          type="number"
          class="form-control"
          placeholder="Calory Burn"
          formControlName="calory"
        />

        <div
          *ngIf="
            !workoutForm.controls['calory']?.valid &&
            workoutForm.controls['calory']?.touched
          "
        >
          <p class="text-danger">This is required</p>
        </div>

        <button
          class="btn btn-outline-dark mt-3"
          [disabled]="!workoutForm.valid"
          type="submit"
        >
          Submit
        </button>
      </form>
    </div>
    <div class="col-md-8 mt-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sl</th>
            <th scope="col">Workout-type</th>
            <th scope="col">Distance</th>
            <th scope="col">Burn Calory</th>
            <th scope="col">Date (yy-mm-dd)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of info; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.workoutList }}</td>
            <td>
              {{ item.distance }}
              <span
                class="text-bg-secondary fw-semibold badge rounded-pill ms-2"
              >
                Meter</span
              >
            </td>
            <td>
              {{ item.calory }}
              <span
                class="text-bg-secondary fw-semibold badge rounded-pill ms-2"
              >
                Kcl</span
              >
            </td>
            <td>{{ item.calender }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
