<form [formGroup]="userData" (ngSubmit)="onSubmit()">
  <input
    class="mt-5"
    type="text"
    name="user name"
    placeholder="user name"
    formControlName="name"
  />
  <br />
 <small class="text-danger">*username is required</small>
   
 
  <br />
  <input
    class="mt-5"
    type="password"
    placeholder="your password"
    formControlName="password"
  />
  <br />
  <small class="text-danger">*password is required</small>
  <br />
  <button class="mt-4" type="submit">submit</button>
</form>
