<!-- home component start here  -->
<div class="container">
  <div class="row">
    <div class="col-md-4 mt-5">
      <!-- Form -->
      <form [formGroup]="userFrom" (ngSubmit)="onSubmit()">
        <!-- name -->
        <div class="mb-3">
          <label for="User Name" class="form-label">Your Name</label>
          <input
            type="text"
            placeholder="name"
            class="form-control"
            aria-describedby="emailHelp"
            formControlName="userName"
          
          />
          <!-- For Error message -->
          <div *ngIf="!userFrom.controls['userName']?.valid && userFrom.controls['userName']?.touched">
            <div class="text-danger" *ngIf="userFrom.controls['userName']?.hasError('required')">
              *Username is required
            </div>
            <div class="text-danger" *ngIf="userFrom.controls['userName']?.hasError('minLength')">
              Username must at least 4 characters
            </div>
            <div class="text-danger" *ngIf="userFrom.controls['userName']?.hasError('maxLength')" >
              Username at most 40 characters
            </div>
          </div>
        </div>
        <!-- age -->
        <div class="mb-3">
          <label for="age">Your age</label>
          <input
            type="number"
            class="form-control"
            placeholder="Age"
            required
            formControlName="userAge"
          />
          <!-- For Error message -->
          <div
            *ngIf="
              !userFrom.controls['userAge']?.valid &&
              userFrom.controls['userAge']?.touched
            "
          >
            <p class="text-danger">age is required</p>
          </div>
        </div>
        <!-- Gender -->
        <div class="mb-3">
          <label>Gender</label>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="userGender"
              id="exampleRadios1"
              value="male"
              formControlName="userGender"
              required
            />
            <label class="form-check-label" for="exampleRadios1"> Male </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="userGender"
              id="exampleRadios2"
              value="female"
              formControlName="userGender"
              required
            />
            <label class="form-check-label" for="exampleRadios2">
              Female
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="userGender"
              id="exampleRadios3"
              value="other"
              formControlName="userGender"
              required
            />
            <label class="form-check-label" for="exampleRadios3"> Other </label>
          </div>
        </div>
        <!-- phone number -->
        <div class="mb-3">
          <label for="phone">Enter a phone number:</label><br /><br />
          <input
            class="form-control"
            type="tel"
            id="phone"
            name="phone"
            placeholder="+880 or 880 "
            required
            formControlName="userPhone"
          />

          <!-- For Error message -->
          <div
            *ngIf="
              !userFrom.controls['userPhone']?.valid &&
              userFrom.controls['userPhone']?.touched
            "
          >
            <div
              class="text-danger"
              *ngIf="userFrom.controls['userPhone']?.hasError('required')"
            >
              Phone number is required
            </div>
            <div
              class="text-danger"
              *ngIf="userFrom.controls['userPhone']?.hasError('pattern')"
            >
              Enter the valid format
            </div>
          </div>
        </div>
        <!-- Email address -->
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
            formControlName="userEmail"
            required
          />

          <!-- For Error message -->
          <div
            *ngIf="
              !userFrom.controls['userEmail']?.valid &&
              userFrom.controls['userEmail']?.touched
            "
          >
            <div
              class="text-danger"
              *ngIf="userFrom.controls['userEmail']?.hasError('required')"
            >
              emil is required
            </div>
            <div
              class="text-danger"
              *ngIf="userFrom.controls['userEmail']?.hasError('pattern')"
            >
              Enter a valid emil
            </div>
          </div>
        </div>

        <!-- height -->
        <div class="mb-3">
          <label for="height"
            >Height in <span class="text-primary fw-semibold">Meter</span>
          </label>
          <input
            type="number"
            class="form-control"
            required
            formControlName="userHeight"
          />

          <!-- For Error message -->
          <div
            *ngIf="
              !userFrom.controls['userHeight']?.valid &&
              userFrom.controls['userHeight']?.touched
            "
          >
            <p class="text-danger">Height is required</p>
          </div>
        </div>

        <!-- weight -->
        <div class="mb-3">
          <label for="weight"
            >Weight in <span class="text-primary fw-semibold">KG</span>
          </label>
          <input
            type="number"
            class="form-control"
            required
            formControlName="userWeight"
          />
          <!-- For Error message -->
          <div
            *ngIf="
              !userFrom.controls['userWeight']?.valid &&
              userFrom.controls['userWeight']?.touched
            "
          >
            <p class="text-danger">Weight is required</p>
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="userFrom.invalid"
        >
          Submit
        </button>
      </form>
    </div>
    <div class="col-md-8 g-5 mt-5" *ngIf="userInfoCard">
      <div class="card text-bg-light mb-3">
        <div class="card-header">User Information</div>
        <div class="card-body">
          <h5 class="card-title">Name: {{ userInfo?.userName }}</h5>
          <h6 class="card-title">Age: {{ userInfo?.userAge }}</h6>
          <h6 class="card-title">Gender: {{ userInfo?.userGender }}</h6>
          <h6 class="card-title">Mobile: {{ userInfo?.userPhone }}</h6>
          <h6 class="card-title">Email: {{ userInfo?.userEmail }}</h6>
          <h6 class="card-title">Height: {{ userInfo?.userHeight }}</h6>
          <h6 class="card-title">Weight: {{ userInfo?.userWeight }}</h6>
          <p class="card-text">
            Your BMI is :
            {{ result }}
          </p>
          <!-- Error message for BMI -->
          <div>
            <div *ngIf="result > 25" class="text-danger fw-bold">
              BMI is overweight, Please start workout
            </div>
            <div
              *ngIf="result < 25 && result > 16"
              class="text-success fw-semibold"
            >
              BMI is Perfect
            </div>
            <div *ngIf="result < 16" class="text-warning fw-semibold">
              BMI is underweight
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
