<!-- home component start here  -->
<div class="container">
  <div class="row">
    <div class="col-md-4 mt-5">
      <!-- Form -->
      <form [formGroup]="userFrom" (ngSubmit)="onSubmit()">
        <!-- name -->
        <div class="mb-3">
          <label for="User Name" class="form-label fw-bold">Your Name</label>
          <input
            type="text"
            placeholder="Name"
            class="form-control"
            aria-describedby="emailHelp"
            formControlName="userName"
          />
          <!-- For Error message -->
          <div
            *ngIf="
              !userFrom.controls['userName']?.valid &&
              userFrom.controls['userName']?.touched
            "
          >
            <div
              class="text-danger"
              *ngIf="userFrom.controls['userName']?.hasError('required')"
            >
              *Username is required
            </div>
            <div
              class="text-danger"
              *ngIf="userFrom.controls['userName']?.hasError('minLength')"
            >
              Username must at least 4 characters
            </div>
            <div
              class="text-danger"
              *ngIf="userFrom.controls['userName']?.hasError('maxLength')"
            >
              Username at most 40 characters
            </div>
          </div>
        </div>
        <!-- age -->
        <div class="mb-3">
          <label for="age" class="fw-bold">Your age</label>
          <input
            type="number"
            class="form-control"
            placeholder="Age"
            required
            formControlName="userAge"
          />
          <!-- For Error message -->
          <div
            *ngIf="
              !userFrom.controls['userAge']?.valid &&
              userFrom.controls['userAge']?.touched
            "
          >
            <p class="text-danger">age is required</p>
          </div>
        </div>
        <!-- Gender -->
        <div class="mb-3">
          <label class="fw-bold">Gender</label>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="userGender"
              id="exampleRadios1"
              value="male"
              formControlName="userGender"
              required
            />
            <label class="form-check-label" for="exampleRadios1"> Male </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="userGender"
              id="exampleRadios2"
              value="female"
              formControlName="userGender"
              required
            />
            <label class="form-check-label" for="exampleRadios2">
              Female
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="userGender"
              id="exampleRadios3"
              value="other"
              formControlName="userGender"
              required
            />
            <label class="form-check-label" for="exampleRadios3"> Other </label>
          </div>
        </div>
        <!-- phone number -->
        <div class="mb-3">
          <label for="phone" class="fw-bold">Enter a phone number</label
          ><br /><br />
          <input
            class="form-control"
            type="tel"
            id="phone"
            name="phone"
            placeholder="+880 or 880 "
            required
            formControlName="userPhone"
          />

          <!-- For Error message -->
          <div
            *ngIf="
              !userFrom.controls['userPhone']?.valid &&
              userFrom.controls['userPhone']?.touched
            "
          >
            <div
              class="text-danger"
              *ngIf="userFrom.controls['userPhone']?.hasError('required')"
            >
              Phone number is required
            </div>
            <div
              class="text-danger"
              *ngIf="userFrom.controls['userPhone']?.hasError('pattern')"
            >
              Enter the valid format
            </div>
          </div>
        </div>
        <!-- Email address -->
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label fw-bold"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
            formControlName="userEmail"
            required
          />

          <!-- For Error message -->
          <div
            *ngIf="
              !userFrom.controls['userEmail']?.valid &&
              userFrom.controls['userEmail']?.touched
            "
          >
            <div
              class="text-danger"
              *ngIf="userFrom.controls['userEmail']?.hasError('required')"
            >
              emil is required
            </div>
            <div
              class="text-danger"
              *ngIf="userFrom.controls['userEmail']?.hasError('pattern')"
            >
              Enter a valid emil
            </div>
          </div>
        </div>

        <!-- height -->
        <div class="mb-3">
          <label for="height" class="form-label fw-bold"
            >Height in
            <span class="text-bg-primary fw-semibold badge rounded-pill"
              >Meter</span
            >
          </label>
          <input
            type="number"
            class="form-control"
            required
            formControlName="userHeight"
          />

          <!-- For Error message -->
          <div
            *ngIf="
              !userFrom.controls['userHeight']?.valid &&
              userFrom.controls['userHeight']?.touched
            "
          >
            <p class="text-danger">Height is required</p>
          </div>
        </div>

        <!-- weight -->
        <div class="mb-3">
          <label for="weight" class="form-label fw-bold"
            >Weight in
            <span class="text-bg-primary fw-semibold badge rounded-pill"
              >KG</span
            >
          </label>
          <input
            type="number"
            class="form-control"
            required
            formControlName="userWeight"
          />
          <!-- For Error message -->
          <div
            *ngIf="
              !userFrom.controls['userWeight']?.valid &&
              userFrom.controls['userWeight']?.touched
            "
          >
            <p class="text-danger">Weight is required</p>
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="userFrom.invalid"
        >
          Submit
        </button>
      </form>
    </div>
    <div class="col-md-8 g-5 mt-5" *ngIf="userInfoCard">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Mobile</th>
            <th scope="col">Email</th>
            <th scope="col">Height</th>
            <th scope="col">Weight</th>
            <th scope="col">BMI</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ userInfo?.userName }}</th>
            <td>{{ userInfo?.userAge }} <span>years old</span></td>
            <td>{{ userInfo?.userGender }}</td>
            <td>{{ userInfo?.userPhone }}</td>
            <td>{{ userInfo?.userEmail }}</td>
            <td>{{ userInfo?.userHeight }}</td>
            <td>{{ userInfo?.userWeight }}</td>
            <td>{{ result.toFixed(2) }}</td>
          </tr>
        </tbody>
      </table>
      <div>
        <div
          *ngIf="result > 25"
          class="alert alert-danger fw-bold text-center text-dark"
          role="alert"
        >
          <strong> BMI is overweight, Please start workout !! </strong>
          <a routerLink="workout" class="btn btn-danger">Workout Now </a>
        </div>
        <div
          *ngIf="result < 25 && result > 16"
          class="alert alert-success fw-semibold text-center text-dark"
          role="alert"
        >
          Congratulation , Your BMI is Perfect !!
        </div>
        <div
          *ngIf="result < 16"
          class="alert alert-warning fw-semibold text-center text-dark"
          role="alert"
        >
          <strong>BMI is underweight</strong>
        </div>
      </div>
    </div>
  </div>
</div>
